# Local .terraform directories
**/.terraform/*

# .tfstate files (contains sensitive data)
*.tfstate
*.tfstate.*

# Crash logs
crash.log

# Sensitive variable files
*.tfvars
*.tfvars.json

# Terraform plan files
*.tfplan

# .terraformrc and .terraform.d directories
.terraformrc
.terraform.d

# Editor/IDE-specific files
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Logs and temp
*.log
*.bak
