# Local .terraform directories
**/.terraform/*

# .tfstate files (contains sensitive data)
*.tfstate
*.tfstate.*

# Crash logs
crash.log

# Terraform plan files
*.tfplan
tfplan

# Terraform backend
backend.tf

# .terraformrc and .terraform.d directories
.terraformrc
.terraform.d

# Editor/IDE-specific files
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Logs and temp
*.log
*.bak
*key.json
