gcp_region = "us-east1"
gcp_zone   = "us-east1-b"

project_name            = "projectname"
project_id              = "myprojectit"
# project_deletion_policy = "DELETE"
billing_account_id      = "mybillingaccountid"
admin_ssh_keys = []

network_name = "k8s-network-test"
subnets = [
  {
    name          = "k8s-subnet-test"
    ip_cidr_range = "10.0.2.0/24"
  }
]
firewall_rules = [
  {
    name          = "allow-ssh"
    protocol      = "tcp"
    ports         = ["22"]
    source_ranges = ["0.0.0.0/0"]
    tags          = ["ssh"]
  },
  {
    name          = "allow-icmp"
    protocol      = "icmp"
    ports         = []
    source_ranges = ["0.0.0.0/0"]
    tags          = ["icmp"]
  }
]

vm_master_count        = 1
vm_worker_count        = 0
vm_master_machine_type = "e2-micro"
vm_worker_machine_type = "e2-micro"
vm_master_disk_size    = 10
vm_worker_disk_size    = 10
vm_master_disk_type    = "pd-standard"
vm_worker_disk_type    = "pd-standard"
vm_master_tags         = ["k8s-master", "managed-server"]
vm_worker_tags         = ["k8s-worker", "managed-server"]

vm_image_family  = "debian-12"
vm_image_project = "debian-cloud"
