gcp_region = "us-east1"
gcp_zone   = "us-east1-b"

project_name            = "projectname"
project_id              = "myprojectit"
# project_deletion_policy = "DELETE"
billing_account_id      = "mybillingaccountid"
admin_ssh_keys = []

network_name = "k8s-network-test"
subnets = [
  {
    name          = "k8s-subnet-test"
    ip_cidr_range = "10.0.2.0/24"
  }
]
firewall_rules = [
  {
    name          = "allow-ssh"
    protocol      = "tcp"
    ports         = ["22"]
    source_ranges = ["0.0.0.0/0"]
    tags          = ["ssh"]
  },
  {
    name          = "allow-icmp"
    protocol      = "icmp"
    ports         = []
    source_ranges = ["0.0.0.0/0"]
    tags          = ["icmp"]
  }
]

vms = [
  {
    name          = "k8s-master-1"
    machine_type  = "e2-micro"
    image_project = "debian-cloud"
    image_family  = "debian-12"
    disk_size     = 10
    disk_type     = "pd-standard"
    network_name  = "k8s-network-test"
    subnet_name   = "k8s-subnet-test"
    tags          = ["k8s-master", "ssh", "icmp"]
  },
  {
    name          = "k8s-worker-1"
    machine_type  = "e2-micro"
    image_project = "debian-cloud"
    image_family  = "debian-12"
    disk_size     = 10
    disk_type     = "pd-standard"
    network_name  = "k8s-network-test"
    subnet_name   = "k8s-subnet-test"
    tags          = ["k8s-worker", "ssh", "icmp"]
  }
]
